<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Author</title>
</head>
<body>
    <h1>Add Author</h1>
        <form action="/author" method="post">
            <label for="nameauthor">First Name:</label>
            <input type="text" id="nameauthor" name="nameauthor" required><br><br>
            <label for="surnameauthor">Last Name:</label>
            <input type="text" id="surnameauthor" name="surnameauthor" required><br><br>
            <input type="submit" value="Add Author">
        </form>
</body>
</html>